In [115]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import acquire as a
import prepare as p
import summarize as s

In [116]:
df = a.get_heart()

In [117]:
df = p.rename_cols(df)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      303 non-null    int64
 1   sex                      303 non-null    int64
 2   chest_pain_type          303 non-null    int64
 3   resting_bp               303 non-null    int64
 4   cholesterol              303 non-null    int64
 5   fasting_blood_sugar      303 non-null    int64
 6   restecg                  303 non-null    int64
 7   max_heart_rate           303 non-null    int64
 8   exercise_induced_angina  303 non-null    int64
 9   oldpeak                  303 non-null    float64
 10  st_slope                 303 non-null    int64
 11  num_major_blood_vessels  303 non-null    int64
 12  defect_type              303 non-null    int64
 13  heart_attack_risk        303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

def summarize(df):
    shape = df.shape
    info = df.info()
    describe = df.describe()
    distributions = df.hist(figsize=(24, 10), bins=20)
    return shape, info, describe, distributions

In [119]:
#s.summarize(df)

In [120]:
df_string_values = df.copy()

In [121]:
df_string_values

,age,sex,chest_pain_type,resting_bp,cholesterol,fasting_blood_sugar,restecg,max_heart_rate,exercise_induced_angina,oldpeak,st_slope,num_major_blood_vessels,defect_type,heart_attack_risk
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [122]:
df_string_values.head()

,age,sex,chest_pain_type,resting_bp,cholesterol,fasting_blood_sugar,restecg,max_heart_rate,exercise_induced_angina,oldpeak,st_slope,num_major_blood_vessels,defect_type,heart_attack_risk
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [123]:
#identify categorical columns
df_string_values

,age,sex,chest_pain_type,resting_bp,cholesterol,fasting_blood_sugar,restecg,max_heart_rate,exercise_induced_angina,oldpeak,st_slope,num_major_blood_vessels,defect_type,heart_attack_risk
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

categorical columns = sex, chest_pain_type, fbs, restecg, exng, slp
continuous columns = age, resting_bp, cholestoral, thatlachh, oldpeak

In [124]:
df_string_values['sex'] = df_string_values['sex'].replace(0,'female')

In [125]:
df_string_values['sex'] = df_string_values['sex'].replace(1, 'male')

In [126]:
df_string_values.chest_pain_type.max()

3

In [127]:
df_string_values.head()

,age,sex,chest_pain_type,resting_bp,cholesterol,fasting_blood_sugar,restecg,max_heart_rate,exercise_induced_angina,oldpeak,st_slope,num_major_blood_vessels,defect_type,heart_attack_risk
0,63,male,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,male,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,female,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,male,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,female,0,120,354,0,1,163,1,0.6,2,0,2,1

In [128]:
df_string_values.st_slope.max()

2

In [129]:
df_string_values.defect_type.value_counts()

2    166
3    117
1     18
0      2
Name: defect_type, dtype: int64

In [130]:
df_string_values['defect_type'] = df_string_values['defect_type'].replace(0, 'Nan')